.moon-phase {
    display: grid;
    place-items: center;
    height: 300px;
}

.moon-phase-name {
  color: #ffffff;
  width: fit-content;
  margin-top: 20px;
  font-size: 42px;
}

.phase-img {
    height: 300px;
    width: 300px;
    margin-top: 20px;
   
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: both;
  }
  
  .tab2-component {
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    width: 100%;
    height: 100%;
  }

  .day-picker {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }