.moon-phase {
    display: grid;
    place-items: center;
    height: 300px;
}

.moon-phase-name {
  color: #ffffff;
  width: fit-content;
  margin-top: 20px;
  font-size: 42px;
}

.phase-img {
    height: 300px;
    width: 300px;
    margin-top: 20px;
   
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: both;
  }
  

  .day-picker {
    display: flex;
    width: fit-content;
    padding: 30px;
    padding-bottom: 80%;
    padding-top: 30px;
    
  }

  