<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="app-background moon-phases" >

    <ion-card class="date-box" *ngFor="let moon of filteredData">
        <ion-card-title>{{moon.phaseName}}</ion-card-title>
        <ion-card-subtitle>{{moon.phaseTime | date: 'dd/MM/YYYY'}}</ion-card-subtitle>
        <ion-img [src]="moon.phaseImg"></ion-img>

    </ion-card>
    <div class="message" *ngIf="filteredData.length === 0">No existen fechas guardadas</div>

  </div>

</ion-content>
