<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="app-background">
    <ion-list>
      <ion-list-header>
        <ion-label><b>Fechas Guardadas</b></ion-label>
      </ion-list-header>
      <ion-searchbar animated="true" debounce="500" (ionChange)="filter($event)"></ion-searchbar>
      <ion-item *ngFor="let moon of filteredData" (click)="presentModal(moon)">
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-label slot="start">{{moon.data[0].moonPhase.closest.time | date:'dd/MM/YYYY'}} {{moon.data[0].moonPhase.closest.text}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
